@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", monospace, sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue";
}

body::before {
  content: " ";
  position: absolute;
  height: 100dvh;
  width: 100dvw;
  background-image: url("BgImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 6px;
}

nav div span {
  color: #fff;
  font-size: 30px;
  text-decoration: underline wavy #9765e0;
}

nav .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  flex-wrap: wrap;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 2s;
  /* transform-origin: left; */
  position: relative;
}

nav .navigation a::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 3px;
  border-radius: 1px;
  background: #ff3c78;
  transform-origin: center;
  transition: all 0.2s linear;
  box-shadow: 0 0 5px #ff3c78, 0 0 10px #ff3c78;
}

nav .navigation a:hover::after {
  width: 100%;
}

nav .navigation a:hover {
  color: #ef4444;
  transform: translateY(-10px);
}

nav .joinBtn {
  color: #fff;
  font-size: 25px;
  border: 1px solid #fff;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: all 1s;
}

nav .joinBtn:hover {
  background: #fff;
  color: #000;
  border-radius: 10px;
}

.body {
  display: flex;
  height: 80dvh;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 50px;
  color: #fff;
  flex-wrap: wrap;
}

.body .detail {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

hr {
  margin: 20px;
}

.body .detail .text small {
  font-size: 18px;
}

.body .detail .text {
  animation: movingText 1.5s linear;
}

.body .detail .text .tagLine {
  font-size: 40px;
  background-image: linear-gradient(80deg, #ef4444, #ec3899);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.followBtn {
  margin-top: 40px;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 800;
  animation: movingBtn 1.5s ease-in-out;
}

.followBtn img {
  width: 30px;
  margin-right: 10px;
}
/* Meadia Queries */
@media (max-width: 440px) {
  nav .joinBtn {
    display: none;
  }
}
@media (max-width: 1090px) {
  nav .navigation {
    display: none;
  }
}

@media (max-width: 535px) {
  .body .detail {
    width: 100%;
    align-items: start;
    justify-content: start;
  }
}

@media (max-width: 900px) {
  body::before {
    background-position: 69%;
  }
}

/* animation */
@keyframes movingBtn {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}
@keyframes movingText {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
